*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 16px;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    color: var(--text-color);
    background-color: var(--background-color);
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
}

/* wip */
.bullet-list {
    list-style-type: disc;
    padding-left: 1rem;
}

cite {
    font-style: normal;
    font-weight: bold;
}
/*  */

img,
svg,
video,
canvas {
    display: block;
    max-width: 100%;
    height: auto;
}

main {
    /* dev */
    min-height: 100vh;
}

/* Smooth scrolling if user doesn't have a preference due to motion sensitivities */
@media screen and (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

/* dev */
@media (min-width: 40em) {
}

@media (min-width: 75rem) {
}
