/* .header-nav-item {
    height: 100%;
}

.header-nav-item-active {
    text-decoration: underline;
    text-underline-offset: 0.15em;
    text-decoration-thickness: 0.2em;
} */

.header-nav-link {
    font-weight: 600;
    color: var(--nav-link-color, var(--link-color));
    text-decoration: none;
    /* font-size: 1.19rem; */

    /* wip */
    /* padding: 0.5em 0.75em; */
}

.header-nav-link:hover {
    color: var(--nav-link-color, var(--link-hover-color));
    text-decoration: underline;
    text-underline-offset: 0.15em;
    text-decoration-thickness: 0.2em;
}

.header-nav-link:active {
    color: var(--black);
    /* background-color: none; */
}

@media screen and (min-width: 40rem) {
    .menu-button {
        font-size: 1.19rem;
    }
}

@media screen and (max-width: 62rem) {
    .header-nav {
        display: none;
    }

    .header-nav-item {
        padding-top: 2rem;
    }

    .nav-opened .header-nav {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 62rem) {
    .nav-button {
        display: none;
    }

    .header-nav {
        display: block;
    }

    .header-nav ul {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin: 0;
    }
}
