a {
    color: var(--link-color);
    text-decoration: underline;
    text-decoration-thickness: 0.075em;
    text-underline-offset: 0.15em;
}

a:hover {
    text-decoration-thickness: 0.2em;
    color: var(--link-hover-color);
}

a:focus {
    color: var(--black);
    background-color: var(--link-focus-color);
    text-decoration: none;
    border: none;
    outline: 3px solid var(--black);
}

/* nodig?? */
a:active {
    color: var(--black);
    background-color: none;
}

@media (min-width: 40em) {
    a {
        font-size: 1.19rem;
    }
}
