<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../css/style.css" />
        <meta
            name="description"
            content="The Responsible IT lectureship works on methods and techniques for developers, designers, product owners and users, so
        that from their roles they can contribute to digital products that are reliable, safe, fair and have people's trust."
        />
        <script src="../../js/loadPreferences.js"></script>
        <title>Responsible IT</title>
    </head>
    <body>
        <a href="#main" class="skip-to-content-link">Skip to main content</a>
        <header class="main-header">
            <div class="header-container width-container">
                <a class="header-logo-link" href="../../index.html"
                    ><img class="header-logo" src="../../img/logo.svg" alt="Hogeschool van Amsterdam logo"
                /></a>
                <button class="nav-button menu-button" aria-label="open or close main navigation">Menu</button>
                <nav class="header-nav">
                    <ul>
                        <li class="header-nav-item"><a class="header-nav-link" href="../components.html">Components</a></li>
                        <li class="header-nav-item"><a class="header-nav-link" href="../test-pages.html">Test pages</a></li>
                        <li class="header-nav-item">
                            <button class="menu-button accessibility-button" aria-label="open or close accessibility controls menu">
                                Accessibility Controls
                            </button>
                            <menu class="accessibility-dropdown">
                                <li>
                                    <button class="accessibility-toggle">Increase font <span aria-hidden="true">+</span></button>
                                </li>
                                <li>
                                    <button class="accessibility-toggle">Decrease font<span aria-hidden="true">-</span></button>
                                </li>
                                <li>
                                    <button class="accessibility-toggle">
                                        Dark theme<span class="accessibility-toggle-checkbox" aria-hidden="true"></span>
                                    </button>
                                </li>
                                <li>
                                    <button class="accessibility-toggle">
                                        Grayscale<span class="accessibility-toggle-checkbox" aria-hidden="true"></span>
                                    </button>
                                </li>
                                <li>
                                    <button class="accessibility-toggle">
                                        High contrast<span class="accessibility-toggle-checkbox" aria-hidden="true"></span>
                                    </button>
                                </li>
                                <li class="dropdown-item">
                                    <button class="accessibility-toggle">
                                        Hide artwork<span class="accessibility-toggle-checkbox" aria-hidden="true"></span>
                                    </button>
                                </li>
                                <li class="dropdown-item">
                                    <button class="accessibility-toggle">
                                        Reduce Motion<span class="accessibility-toggle-checkbox" aria-hidden="true"></span>
                                    </button>
                                </li>
                            </menu>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="hero-small">
            <img class="hero-img" src="../../img/hero-img/art.jpeg" alt="AI generated art" />
            <div class="hero-content column-middle width-container">
                <h1 class="heading-xl">Accordion</h1>
                <p>
                    Components are reusable parts of the user interface that have been made to support a variety of applications. You can
                    use individual components in many different patterns and contexts.
                </p>
            </div>
        </div>
        <div class="width-container column-middle">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="../../index.html">Home</a></li>
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="../components.html">Components</a></li>
                <li class="breadcrumb-item">Accordion</li>
            </ol>
            <main id="main">
                <h2 class="heading-l">Accordion</h2>
                <details>
                    <summary><span class="accordion-marker"></span>Show</summary>
                    The accordion component lets users show and hide sections of related content on a page.
                </details>
            </main>
        </div>
        <footer class="main-footer">
            <div class="footer-container width-container">
                <span class="text-small">© Copyright 2022 Responsible IT - Hogeschool van Amsterdam</span>
                <img class="footer-image" src="../../img/hva-footer.svg" alt="Creating Tomorrow" />
            </div>
        </footer>
        <script src="../../js/main.js"></script>
    </body>
</html>
